.counter-container{
    background-color: rgb(255, 235, 205);
    width: 20%;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    border-color: rgb(81, 114, 34);
    border-width: 1px;
    border-style:solid;
}

button{
    background-color: rgb(81, 114, 34);
    border: none;
    margin-right: 3px;
    color: white;
    padding: 5px 10px;
    border-radius: 100px;
}
.count{
    background-color: aliceblue;
    padding: 10px;
    width: 20p;
    border-radius: 5px;
}