.themepage {
  height: 100vh;
  padding: 20px;
  transition: 0.3s;
  margin-top: 20px;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: #111;
  color: white;
}